@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Cushy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1.custom-font {
  font-family: "CustomFont", sans-serif;
}
